/*公共样式--开始*/
html, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}
*{box-sizing: border-box;}
html, body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size:14px;
    color:#333;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input, textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

body{
	background-color: #efeff4;
}

.top{
	position: absolute;
	top: 0;
	left: 0;
	height: 55px;
	width: 360px;
	background-color: #1B82D2;
	padding-top: 7px;;
	padding-right: 10px;
	padding-bottom: 10px;
	color: #ffffff;
	font-size: 19px;
}
.top-font{
	padding-left: 12px;
}
.top-img{
	position: absolute;
	top: 12px;
	height: 27px;
}
#top-img1{
	left: 255px;
}
#top-img2{
	left: 285px;
}
#top-img3{
	left: 315px;
}

.recommend{
	background-color: #FFFFFF;
	position: relative;
	top: 45px;
	left: -5px;
	height: 160px;
	width: 360px;
	padding-top: 20px;
}
.recommend-img{
	height: 55px;
	margin-bottom: 10px;
}
.recommend-content{
	height: 159px;
	width: 119px;
	text-align: center;
	float: left;
}
.recommend-text{
	width: 119px;
	
}
.t1{
	font-size: 15px;
}
.t2{
	font-size: 14px;
	color: #a2a2a2;
}

.click{
	position: relative;
	left: -5px;
	top: 50px;
	height: 400px;
}
.click-a{
	width: 360px;
	height: 75px;
	padding-left: 20px;
	background-color: #FFFFFF;
	margin-top: 3px;
}
.click-img{
	position: relative;
	height: 49px;
	top: 10px;
	float: left;
}
.click-text{
	position: relative;
	top: 7px;
	margin-left: 15px;
	float: left;
	/* background-color: #1B82D2; */
}
.t3{
	font-size: 20px;
}
.t4{
	font-size: 16px;
	color: #a2a2a2;
}
#click-img-1{
	top: -5px;
}
#click-text-1{
	top: -7px;
}
